html {
    position: relative;
    box-sizing: border-box;
    font-size: 50%;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    background: url('/assets/img/trees-1.png'), url('/assets/img/trees-2.png'), url('/assets/img/santa.png'), var(--color-bg);
    background-position: bottom -1rem left -100%, bottom -1rem right -100%, top 360px right -20rem;
    background-size: 30rem, 30rem, 10rem;
    background-repeat: no-repeat;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.25rem;
    transition: background 1s;
}

:root {
    --color-bright-blue: hsl(220, 98%, 61%);
    --gradient-primary: linear-gradient(to bottom right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

.dark-theme {
    --color-bg: hsl(235, 21%, 11%);
    --color-surface: hsl(235, 24%, 19%);
    --color-border: #393A4B;
    --color-text-active: hsl(234, 39%, 85%);
    --color-text-completed: hsl(233, 14%, 35%);
    --color-text-1: hsl(235, 16%, 43%);
    --box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);
}

.light-theme {
    --color-bg: hsl(0, 0%, 98%);
    --color-surface: hsl(0, 0%, 100%);
    --color-border: #E3E4F1;
    --color-text-active: hsl(235, 19%, 35%);
    --color-text-completed: hsl(233, 11%, 84%);
    --color-text-1: hsl(235, 9%, 61%);
    --box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
}

.christmas-theme {
    --color-bg: #E1E1E1;
    --color-surface: #f93838;
    --color-border: #ff7171;
    --color-text-active: #f1faee;
    --color-text-completed: #ff7474;
    --color-text-1: #ffa7a7;
    --box-shadow: 0px 35px 50px -15px rgba(190, 0, 0, 0.5);
}

body.christmas-theme {
    background-position: bottom -1rem left -10rem, bottom -1rem right -10rem, top 360px right -2.5rem;
}

.sr-only {
    width: 1px;
    height: 1px;
    position: absolute;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    white-space: nowrap; 
    overflow: hidden;
}

*:focus {
    outline: 2px dotted var(--color-text-active);
}

@media only screen and (min-width: 600px) {
    body {
        background-size: 42rem, 42rem, 15rem;
    }
}
